@font-face {
    font-family: 'Eroded';
    src: url('fonts/ERODED-PERSONAL-USE.ttf');
}

body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

.header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #1F2937;
    padding: 20px;
}

.logo {
    font-size: 36px;
    font-family: 'Eroded';
    color: #F9FAF8;
}

.container-1 {
    display: flex;
    justify-content: space-around;
    padding: 75px;
    font-family: Arial, Helvetica, sans-serif;
    color: #F9FAF8;
    background-color: #1F2937;
}

.container-1 img {
    width: 500px;
    height: 300px;
    border-radius: 25px;
}

.container-1 p {
    color: #E5E7EB;
}

.container-1 button {
    background-color: #3882F6;
    color: #F9FAF8;
    border: none;
    border-radius: 5px;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.container-2 {
    padding: 75px;
}

.container-2 h2, .container-3 h2 {
    text-align: center;
    margin-top: 0px;
    margin-bottom: 75px;
    font-size: 36px;
}

.container-2 img {
    width: 175px;
    height: 175px;
    border-style: solid;
    border-radius: 25px;
    border-width: 5px;
    border-color: #3882F6;
    padding: 10px;
}

.container-2 .section {
    display: flex;
    justify-content: center;
    text-align: center;
    font-size: 18px;
    gap: 250px;
    color: #1F2937;
}

.container-3 {
    background-color: #E5E7EB;
    padding: 75px;
}

.container-3 img {
    width: 160px;
    height: 220px;
}

.container-3 .text {
    width: 600px;
    font-style: italic;
    font-size: 24px;
    color: #1F2937;
}

.container-3 .section {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 275px;
}

.signature {
    text-align: right;
}

.container-4 {
    display: flex;
    justify-content: center;
    padding: 75px;
    color: #F9FAF8;
}

.container-4 .text-box {
    background-color: #3882F6;
    border-radius: 10px;
    padding: 25px;
    width: 1655px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 100px;
}

.container-4 h2 {
    margin-bottom: 0px;
}

.container-4 button {
    border-radius: 5px;
    border-style: solid;
    border-color: #E5E7EB;
    background-color: #3882F6;
    color: #E5E7EB;
    width: 150px;
    height: 50px;
    font-size: 16px;
}

.footer {
    background-color: #1F2937;
    color: #E5E7EB;
    text-align: center;
    padding: 25px;
}

ul {
    display: flex;
    gap: 24px;
    list-style-type: none;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 900;
}
  
a {
    text-decoration: none;
    color: #E5E7EB;
}